/Stonephonia/Content/bin
/Stonephonia/Content/obj
/Stonephonia/bin
/Stonephonia/obj
/.vs
/Stonephonia/app.manifest
/Stonephonia/Stonephonia.csproj.user
/Stonephonia/.vs/Stonephonia/DesignTimeBuild/.dtbcache.v2
/Stonephonia/.vs/Stonephonia/v16/.suo
